<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="https://static.wixstatic.com/media/727348_9fe761d1400c49648a9f62ae42bddde5~mv2.png/v1/fill/w_23,h_23,al_c,q_85,usm_0.66_1.00_0.01/727348_9fe761d1400c49648a9f62ae42bddde5~mv2.webp">
    <title>Prueba Tecnico Gabriela</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>