<template>

<div id="app">
  <v-app id="inspire">
    <v-data-table
      :headers="headers"
      :items="equipos"
      sort-by="placa"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-toolbar-title>CRUD EQUIPOS</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog
            v-model="dialog"
            max-width="500px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="purple lighten-1"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
              >
                Nuevo equipo
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
  
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.Equipo_Nombre"
                        label="Nombre equipo"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.Placa_Inventario"
                        label="Placa inventario"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.Serial"
                        label="Serial"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.Marca"
                        label="Marca"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.Referencia"
                        label="Referencia"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
  
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
                >
                  Cancelar
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
                >
                  Guardar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline">¿Quiere eliminar este equipo?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          fas fa-pencil-alt
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          fas fa-trash-alt
        </v-icon>
      
      </template>
      <template v-slot:no-data>
        <v-btn
          color="primary"
          @click="initialize"
        >
          Reinico
        </v-btn>
      </template>
    </v-data-table>
  </v-app>
</div>
  

 
</template>

<script>
// @ is an alias to /src


export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Nombre equipo',
          align: 'start',
          sortable: false,
          value: 'Equipo_Nombre',
        },
        { text: 'Placa inventario', value: 'Placa_Inventario' },
        { text: 'Serial', value: 'Serial' },
        { text: 'Marca', value: 'Marca' },
        { text: 'Referencia', value: 'Referencia' },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      equipos: [],
      editedIndex: -1,
      editedItem: {
        Equipo_Nombre: '',
        Placa_Inventario: 0,
        Serial: 0,
        Marca: '',
        Referencia: 0,
      },
      defaultItem: {
        Equipo_Nombre: '',
        Placa_Inventario: 0,
        Serial: 0,
        Marca: '',
        Referencia: 0,
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo equipo' : 'Editar equipo'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.equipos = [
          {
            Equipo_Nombre: 'Osciloscopio',
            Placa_Inventario: 159,
            Serial: 6.0,
            Marca: 'FLUKE',
            Referencia: 4,
          },
          {
            Equipo_Nombre: 'Fuente',
            Placa_Inventario: 237,
            Serial: 9.0,
            Marca: 'PCE-LPS',
            Referencia: 3,
          },
          
        ]
      },

      editItem (item) {
        this.editedIndex = this.equipos.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.equipos.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.equipos.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.equipos[this.editedIndex], this.editedItem)
        } else {
          this.equipos.push(this.editedItem)
        }
        this.close()
      },
    },
  }

</script>
