<template>

<v-container fluid pa-0>

<Header />

    
   <v-img
    lazy-src="https://picsum.photos/id/11/10/6"
    max-height="400"
    src="https://static.wixstatic.com/media/0036a46acef14cf09ece7955774367a5.jpg/v1/fill/w_1310,h_360,al_c,q_85,usm_0.66_1.00_0.01/0036a46acef14cf09ece7955774367a5.webp"
  >
  
  <v-row
  justify="center"
  align="end"
  class="fill-height"
  align-content="end">
  <v-col
  cols="4"
  align="center">
    <v-img
    lazy-src="https://picsum.photos/id/11/10/6"
    max-height="120"
    max-width="120"
    src="https://static.wixstatic.com/media/727348_8bb362533783408db155148601b1876d~mv2.png/v1/fill/w_81,h_134,al_c,q_85,usm_0.66_1.00_0.01/logo.webp"
    >      
  </v-img> 
  </v-col>

  <v-col
  cols="4"
  align="center">
  <h1 
  class="text-no-wrap shades white"
  size="600"
  weight="300"
  spacing="-.015625em">LABORATORIOS</h1>
  <br>
  <h4
  class="text-no-wrap shades white">UNIVERSIDAD DISTRITAL FRANCISCO JOSÉ DE CALDAS</h4>  
  </v-col>
  
  <v-col
  cols="4"
  align="center">
    <v-img
    lazy-src="https://picsum.photos/id/11/10/6"
    max-height="120"
    max-width="120"
    src="https://datosabiertos.bogota.gov.co/uploads/group/2019-07-09-122412.115141escudouniversidaddistrital.jpg"
    >   
    </v-img>  
  </v-col>
  </v-row>
  </v-img>
 
  <v-row justify="center">
    <v-col
      cols="3"
    >
    <v-card > 
      <v-card-action>
        <v-img
        src="https://static.wixstatic.com/media/6ae66d7d8c434534b8b3eded5a74ff11.jpg/v1/fill/w_314,h_260,al_c,q_80,usm_0.66_1.00_0.01/Hombre%20sonriente%20en%20la%20computadora%20port%C3%A1.webp"
      
      >
      <v-col align-self="flex-end" class="fill-height">
      <v-row align="end" 
        class="fill-height"
        align-content="end" justify="center">
          <v-btn
          class="ma-2"
          color="primary"
          >
          Laboratorios
          </v-btn> 
      </v-row>
      </v-col>
      
    </v-img>
      
      </v-card-action>
      </v-card>
    </v-col>

    <v-col
      cols="3"
    >
    <v-card>
      <v-card-action>
        <v-img
        src="https://static.wixstatic.com/media/11062b_7ec671fa39944a06bb0dec36f05cb1bd~mv2.jpg/v1/fill/w_314,h_260,al_c,q_80,usm_0.66_1.00_0.01/Objetos%20tem%C3%A1ticos%20grises.webp"
      >
      <v-col align-self="flex-end" class="fill-height">
      <v-row align="end" 
        class="fill-height"
        align-content="end" justify="center">
          <v-btn
          class="ma-2"
          color="primary"
          >
          Software
          </v-btn> 
      </v-row>
      </v-col>
      
    </v-img>
      </v-card-action>
      </v-card>
    </v-col>

    <v-col
      cols="3"
    >
    <v-card>
     <v-card-action>
        <v-img
        src="https://static.wixstatic.com/media/39699f98d24d44cdabb86a1b8cfef1c0.jpg/v1/fill/w_319,h_260,al_c,q_80,usm_0.66_1.00_0.01/cuaderno.webp"
      >
      <v-col align-self="flex-end" class="fill-height">
      <v-row align="end" 
        class="fill-height"
        align-content="end" justify="center">
          <v-btn
          class="ma-2"
          color="primary"
          >
          Noticias
          </v-btn> 
      </v-row>
      </v-col>
      
    </v-img>
      </v-card-action> 
      </v-card>
    </v-col>
  </v-row>

<br>
    <v-app-bar
      dark

      color="#E0E0E0"
      prominent
      light
    >
    
    <v-row justify="end" align="center"
      class="fill-height"
      align-content="center">
    <v-col
    cols="4">
        <v-img
            max-height="120"
            max-width="120"
            src="https://static.wixstatic.com/media/2d61d965a8fd4e8da44d2a72e0b7ee86.png/v1/fill/w_109,h_110,al_c,q_85,usm_0.66_1.00_0.01/L%C3%A1piz.webp"
        >
        </v-img>  
    </v-col>

    </v-row>
    <v-col 
    cols="8" align-self="center">
      <v-row class="fill-height" align="center"
        align-content="center" justify="start">
        <v-toolbar-title > <h3 class="font-weight-black" style="color:#000000">  NOTICIAS </h3> </v-toolbar-title>
        
      </v-row>
      <v-row class="fill-height" align="center"
        align-content="center" justify="start">
        <h3 class="font-weight-light" style="color:#000000">  LABORATORIOS UD</h3>
      </v-row> 
    </v-col>
        
        <v-spacer></v-spacer>

    </v-app-bar>

    <br>

<v-col>
  <v-row justify="center">
    <h1 class="text-decoration-underline">Viernes de Capacitaciones</h1>
  </v-row>
</v-col> 
<br>
<v-col
cols="8">
  <v-row justify="space-around">
    <h3 class="font-weight-light">¡Este viernes las capacitaciones de FlexSim, SPSS y VPI Photonics!</h3>
  </v-row>
  <v-row justify="space-around">
    <h3 class="font-weight-light">Recuerda conectarte por el link de meet:<a href="meet.google.com/wpb-hxwh-chq" target="_blank">meet.google.com/wpb-hxwh-chq</a></h3> 
  </v-row>
</v-col>

<br>

<v-card>
  <v-card-action>
    
    <v-row justify="center">
      <v-img
        lazy-src="https://picsum.photos/id/11/10/6"
        max-height="3000"
        max-width="1000"
        src="https://static.wixstatic.com/media/62708bf80ab44cc68d6dd7c1b0486ed8.png/v1/fill/w_979,h_520,al_c,q_90,usm_0.66_1.00_0.01/Gran%20ola.webp"
        >
        
          <v-col align="center"
          class="pa-0">
            <v-img
              lazy-src="https://picsum.photos/id/11/10/6"
              max-height="600"
              max-width="500"
              src="https://static.wixstatic.com/media/727348_b44697423672478098e2ab9f8e88b384~mv2.jpg/v1/fill/w_593,h_609,al_c,q_85,usm_0.66_1.00_0.01/cap1.webp"
            ></v-img>
          </v-col>
        </v-img>      
    </v-row>
    
  </v-card-action>
</v-card>

<Footer />

</v-container>
</template>

<script>
// @ is an alias to /src
 import Header from "@/components/Header.vue";
 import Footer from "@/components/Footer.vue";
//  import imagen1 from "@/assets/imagen1.PNG";

export default {
  name: "Home",
  components: {Header,Footer
  },
  // data:function(){return{imagen1:imagen1}}
};



</script>
