<template>
<v-container fluid pa-0>

    <div>
    <v-app-bar
      dense
      dark
      color="primary"
    >
      <v-row justify="space-around">
        <v-btn icon>
          <v-img
              max-height="23"
              max-width="23"
              src="https://static.wixstatic.com/media/727348_9fe761d1400c49648a9f62ae42bddde5~mv2.png/v1/fill/w_25,h_25,al_c,q_85,usm_0.66_1.00_0.01/727348_9fe761d1400c49648a9f62ae42bddde5~mv2.webp"
          >
          </v-img>
          <v-breadcrumbs>Pagina Web</v-breadcrumbs>
        </v-btn>
      </v-row>

      <v-spacer></v-spacer>

      <v-row justify="space-around">
        <v-btn icon>
          <v-icon color="#FFFFFF">fab fa-facebook-f</v-icon>
          <v-breadcrumbs>Facebook</v-breadcrumbs>
        </v-btn>
      </v-row>

      <v-menu
        left
        bottom
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

      </v-menu>
    </v-app-bar>
  </div>


<v-card
    class="mx-auto"
    tile
    color="#616161"
  >
    
      <v-row
        align="end"
        class="fill-height"
        justify="center"
      >

      
        <v-col
          align="center"
          class="pa-10"
          cols="3"
        >

        
          <v-avatar
            class="profile"
            color="grey"
            size="150"
            tile
          >
            <v-img src="https://static.wixstatic.com/media/90cf860d8e3548fdb4808f676ee3e05d.jpg/v1/fill/w_140,h_140,al_c,q_80,usm_0.66_1.00_0.01/90cf860d8e3548fdb4808f676ee3e05d.webp"></v-img>
          </v-avatar>
        </v-col>
      
        <v-col 
        align="left"
        class="pa-10"
        cols="9">
          <v-list-item
            color="rgba(0, 0, 0, .4)"
            dark
          >
            <v-list-item-content>
              <v-list-item-title class="title">
                About Me
              </v-list-item-title>
              <v-list-item-subtitle>Edificio Sabio Caldas (Carrera 8 No. 40-62) – 5o,6o y 7o</v-list-item-subtitle>
              <v-list-item-subtitle>Piso . Bogotá, Colombia.</v-list-item-subtitle>
              <v-list-item-subtitle>Almacen de laboratorios – alabing@udistrital.edu.co</v-list-item-subtitle>
              <v-list-item-subtitle>Coordinación de laboratorios labiud@udistrital.edu.co</v-list-item-subtitle>
              <v-list-item-subtitle>Salas de sistemas -adminsalas@udistrital.edu.co</v-list-item-subtitle>
              <v-list-item-subtitle>(+57 1) 3 23 93 00 Ext. 1625 – 1651</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-col>
      </v-row>
   
</v-card>

</v-container>
</template>