<template>
    <div>
    <v-app-bar
      dense
      dark
      color="#FFFFFF"
    >
    
        <v-btn
          class="ma-2"
          color="primary"
          >
          Laboratorios
        </v-btn>

        <v-btn
          class="ma-2"
          color="primary"
          >
          Software
        </v-btn>

        <v-btn
          class="ma-2"
          color="primary"
          >
          Noticias
        </v-btn>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-img
            max-height="25"
            max-width="25"
            src="https://static.wixstatic.com/media/727348_9fe761d1400c49648a9f62ae42bddde5~mv2.png/v1/fill/w_25,h_25,al_c,q_85,usm_0.66_1.00_0.01/727348_9fe761d1400c49648a9f62ae42bddde5~mv2.webp"
        >
        </v-img>
      </v-btn>

      <v-btn icon>
        <v-icon color="#757575">fab fa-facebook-f</v-icon>
      </v-btn>

      <v-menu
        left
        bottom
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

      </v-menu>
    </v-app-bar>
  </div>
</template>