<template>
  <v-app>
<v-content style="background-color:#FFFFFF">
  <router-view />

</v-content>
    
  </v-app>
</template>
<script>
// import HelloWorld from "./components/HelloWorld";
export default {
  name: "App",
  components: {

  },
  data: () => ({
    //
  }),
};
</script>
